/* utility */
body {
    height: 100vh;
    width: 100vw;
    position: relative;   
}

/* sidebar */

#sidebar {
    width: 230px;
    min-height: calc(100vh - 90px);
    background-color: black;
}
#sidebar .visible_sm,
#sidebar .visible_md {
    display: none;
}
#sidebar ul>li img {
    height: 33px;
}


/* player */

#player {
    /* altezza */
    height: 90px;
    background-color: #282828;
    width: 100vw;
    position: fixed;
    bottom: 0;
    right: 0;
}
/******** main ******** */
.main {
    width: calc(100vw - 230px);
    background-color: #141922;
}
/* upgrade */
#upgrade {
    background-color: black;
    filter: opacity(0.5);
    /* altezza */
    height: 90px;
    width: 100%;
}

/* larghezza */
.larghezza {
    display: flex;
}



@media screen and (max-width: 568px) {
    #sidebar {
        width: 50px;
    }
    #sidebar .visible_sm {
        display: block;
    }

    .main {
        width: calc(100vw - 50px);
    }
    
}
@media screen and (min-width: 569px) {
    /* #sidebar */
    #sidebar .visible_md {
        display: block;
    }
    #sidebar ul {
        padding-left: 1rem;
    }
    .logo {
        width: 80%;
    }
    
    
}
